<ion-header [translucent]="true">
  <ion-toolbar class="azul">
    <ion-title >Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item  class="ion-margin-top">
    <ion-label>Porfavor introducir datos</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Perfil</ion-label>
  </ion-item>


  <ion-list>

    <ion-item  class="ion-margin-top">
      <ion-input label="Nombre" placeholder="introducir tu nombre"></ion-input>
    </ion-item>
  
    <ion-item  class="ion-margin-top">
      <ion-input label="Apellido" value="Introducir Apellido"></ion-input>
    </ion-item>
    <ion-item  class="ion-margin-top">
      <ion-input label="Edad" type="number" placeholder="00"></ion-input>
    </ion-item>
  
    <ion-item  class="ion-margin-top">
      <ion-input label="Disabled input" value="53703" [disabled]="true"></ion-input>
    </ion-item>
  

  <ion-item  class="ion-margin-top">
    <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
  </ion-item  class="ion-margin-top">
  <ion-item  class="ion-margin-top">
    <ion-input label="Telefono " type="tel" placeholder="888-888-8888"></ion-input>
  </ion-item>
</ion-list>

</ion-content>
